*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-sarif";
    font-size: 12px;
    line-height: 22px;
    color: $white;
}

body {
    height: 100vh;
    width: 100vw;
}

span {
    @include flex(center, center, row);
}

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h5 {
    font-weight: bold;
}

h4,
h6 {
    font-weight: normal;
}

h3,
h4,
h6 {
    text-transform: uppercase;
}

h3,
h5,
h6 {
    line-height: 28px;
}

h3,
h4 {
    font-size: 1.25rem;
    letter-spacing: 3px;
}

h1 {
    margin: 0.15em 0;
    font-size: 8.33rem;
    letter-spacing: -2.5px;
    line-height: 100px;
}

h2 {
    font-size: 1.67rem;
}

h4{
    line-height: 25px;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.833rem;
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
    html,
    body {
        font-size: 18px;
        line-height: 28px;
    }

    h1 {
        margin: 0;
        font-size: 9.72rem;
        letter-spacing: -4.38px;
        line-height: 200px;
    }

    h2 {
        font-size: 2.22rem;
    }

    h3,
    h4,
    h5 {
        font-size: 1rem;
    }
    
    h3,
    h4{
        letter-spacing: 3.6px;
    }
    
    h6 {
        font-size: 0.72rem;
        letter-spacing: 2.6px;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 11.11rem;
        letter-spacing: -5px;
    }
      
    h2 {
        font-size: 3.11rem;
    }
    
    h3 {
        font-size: 1.33rem;
        letter-spacing: 4.8px;
    }
    
    h4 {
        font-size: 1.11rem;
        letter-spacing: 4px;
    }
    
    h5 {
        font-size: 1.11rem;
    }
    
    h6 {
        font-size: 0.833rem;
        letter-spacing: 3px;
    }

}
